# App
DATABASE_URL="postgresql://user:password@postgres:5432/nlp?schema=public"

# OpenAI
OPENAI_API_KEY="your OpenAI API key"

# Sources
DOU_BASE_URL="https://dou.ua/lenta/page"
TECHCRUNCH_BASE_URL="https://techcrunch.com/wp-json/tc/v1/magazine"

# Postgres
POSTGRES_DB="nlp"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"